<section class="container" style="padding-top: 50px; padding-bottom: 50p">
  <h1 style="margin-bottom: 20px">Firebase Authentication Example and Tests</h1>
  <div id="login-form" style="margin-bottom: 20px">
    <h2 style="margin-bottom: 20px">Login</h2>
    <input type="email" id="email" placeholder="Email" />
    <input type="password" id="password" placeholder="Password" />
    <button id="login-btn">Login</button>
    <div id="error-message"></div>
  </div>
  <div id="join-form" style="margin-bottom: 20px">
    <h2 style="margin-bottom: 20px">Create Account</h2>
    <input type="email" id="email1" placeholder="Email" />
    <input type="password" id="password1" placeholder="Password" />
    <button id="create-btn">Create</button>
    <div id="error-message"></div>
  </div>
  <div id="data-form">
    <h2 style="margin-bottom: 20px">Enter Data</h2>
    <input type="text" id="data-input" placeholder="Enter data" />
    <button id="save-btn">Save Data</button>
    <button id="delete-btn">Delete Data</button>
    <button id="logout-btn">Logout</button>
  </div>
</section>
