<footer class="footer">
  <div class="container footer-block">
    <a href="/src/index.html" class="footer-logo">
      <img
        src="./images/footer/coctail.png"
        alt="Logo-footer"
        class="logo-img"
      />
    </a>

    <!-- <div class="footer-nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a href="/" class="footer-nav__link">Home</a>
        </li>
        <li class="footer-nav__item">
          <a href="./favorites.html" class="footer-nav__link">Favorite</a>
        </li>
      </ul>
    </div> -->

    <div class="join-block">
      <ul class="join__list">
        <li class="join__item">
          <a
            href="//www.instagram.com/"
            class="join__link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="join__icon" width="21" height="21">
              <use href="./images/footer/footer-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="join__item">
          <a
            href="//twitter.com"
            class="join__link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter"
          >
            <svg class="join__icon" width="21" height="21">
              <use href="./images/footer/footer-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="join__item">
          <a
            href="//facebook.com"
            class="join__link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="join__icon" width="21" height="21">
              <use href="./images/footer/footer-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p class="footer-by">&copy 2023 | Developed by Team DevBenders</p>

    <a href="/src/index.html" class="back-to-top"></a>
  </div>
</footer>
