<section class="hero-section">
    <div class="container">
        <div class="hero-container">
            <div class="hero-textpart">
                <h1 class="hero-caption">A party without cocktails is not like a party</h1>
                <h2 class="hero-text">Search your favorite cocktail by ABC </h2>
                <div class="container-alphabet">
                    <button class="selector" type="button">A</button>
                    <button class="selector" type="button">B</button>
                    <button class="selector" type="button">C</button>
                    <button class="selector" type="button">D</button>
                    <button class="selector" type="button">E</button>
                    <button class="selector" type="button">F</button>
                    <button class="selector" type="button">J</button>
                    <button class="selector" type="button">H</button>
                    <button class="selector" type="button">I</button>
                    <button class="selector" type="button">J</button>
                    <button class="selector" type="button">K</button>
                    <button class="selector" type="button">L</button>
                    <button class="selector" type="button">M</button>
                    <button class="selector" type="button">N</button>
                    <button class="selector" type="button">O</button>
                    <button class="selector" type="button">P</button>
                    <button class="selector" type="button">Q</button>
                    <button class="selector" type="button">R</button>
                    <button class="selector" type="button">S</button>
                    <button class="selector" type="button">T</button>
                    <button class="selector" type="button">U</button>
                    <button class="selector" type="button">V</button>
                    <button class="selector" type="button">W</button>
                    <button class="selector" type="button">X</button>
                    <button class="selector" type="button">Y</button>
                    <button class="selector" type="button">Z</button>
                    <button class="selector" type="button">1</button>
                    <button class="selector" type="button">2</button>
                    <button class="selector" type="button">3</button>
                    <button class="selector" type="button">4</button>
                    <button class="selector" type="button">5</button>
                    <button class="selector" type="button">6</button>
                    <button class="selector" type="button">7</button>
                    <button class="selector" type="button">8</button>
                    <button class="selector" type="button">9</button>
                </div>
            </div>
            <div class="img-fromtablet">
            </div> 
        </div>
        
        <p class="mobile-caption">A party without cocktails is not like a party</p>
        <div class="hero-img-mobile">
        </div>
        <p class="info-mobile">Search your favorite cocktail by ABC </p>
        <div class="select-letter hero-letterselection">
            <select class="custom-select">
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
              <option value="d">D</option>
              <option value="e">E</option>
              <option value="f">F</option>
              <option value="g">G</option>
              <option value="h">H</option>
              <option value="i">I</option>
              <option value="j">J</option>
              <option value="k">K</option>
              <option value="l">L</option>
              <option value="m">M</option>
              <option value="n">N</option>
              <option value="o">O</option>
              <option value="p">P</option>
              <option value="q">Q</option>
              <option value="r">R</option>
              <option value="s">S</option>
              <option value="t">T</option>
              <option value="u">U</option>
              <option value="v">V</option>
              <option value="w">W</option>
              <option value="x">X</option>
              <option value="y">Y</option>
              <option value="z">Z</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="0">0</option>
            </select>
          </div>
    </div>
</section>