<div class="gallery">
  <div class="container">
    <h1 class="gallery-title gallery-title_margin" id="cards">Cocktails</h1>
    <ul class="gallery-list">
      <div class="gallery-loading">
        <div data-loader="" class="loader-type1">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
    <div class="gallery-error"></div>
    <div class="error-section visually-hidden" data-error-section>

      <div class="error-section__title">Sorry, we didn't find any cocktail for you</div>
  
      <picture class="error-section__picture">
        <source
          srcset="./images/error-photo-mobile.png"
          type="image/png"
          media="(max-width: 767px)"
        />
  
        <source
          srcset="./images/error-photo-tablet.png"
          type="image/png"
          media="(min-width: 768px) and (max-width: 1199px)"
        />
  
        <source
          srcset="./images/error-photo-tablet.png"
          type="image/png"
          media="(min-width: 1200px)"
        />
  
        <img
          class="error-png error-png_margin"
          src="./images/error-photo-mobile.png"
          alt="error image"
        />
      </picture>
    </div>
  </div>
</section>
