<section class="modal is-hidden modal-ingr" data-modal data-modal-ingredient>
  <div class="modal__window modal-ingr__window" data-modal-ingredient-window>
    <div class="modal__inner modal-ingr__inner">
      <button type="button" class="modal__close" data-modal-close>
        <svg class="modal__close__icon" data-modal-close>
          <use data-modal-close href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal__content" data-modal-ingredient-content></div>
    </div>
  </div>
</section>
