<section
  class="modal is-hidden modal-successfull"
  data-modal
  data-modal-successfull
>
  <div
    class="modal__window modal-successfull__window"
    data-modal-successfull-window
  >
    <div class="modal__inner modal-successfull__inner">
      <button type="button" class="modal__close" data-modal-close>
        <svg class="modal__close__icon" data-modal-close>
          <use data-modal-close href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div
        class="modal__content modal-successfull__content"
        data-modal-successfull-content
      ></div>
    </div>
  </div>
</section>
