<section class="modal modal-cocktail is-hidden" data-modal data-modal-cocktail>
  <div class="modal__window modal-cocktail__window" data-modal-cocktail-window>
    <div class="modal__inner modal-cocktail__inner">
      <!--------- Close modal button --------->
      <div class="modal__content" data-modal-cocktail-content></div>
      <button type="button" class="modal__close" data-modal-close>
        <svg class="modal__close__icon" data-modal-close>
          <use data-modal-close href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <!--------- Close modal button --------->
  </div>
</section>
