.loader-type1 {
  display: inline-block;
  position: relative;
  width: 40px;
  flex-shrink: 0;
  flex-grow: 0;

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &.small {
    width: 20px;
    height: 20px;
  }

  &-position1 {
    top: 30px;
    right: -10px;
    margin-right: -20px;
  }
}
.loader-type1 div {
  position: absolute;
  top: 0px;
  left: calc((100% - $loader-type1-width) / 2);
  width: $loader-type1-width;
  height: $loader-type1-height;
  border-radius: 45%;
  background: $loader-type1-color;
  transform-origin: 50%
    calc(100% + (100% * (50% - $loader-type1-height) / $loader-type1-height));
  animation: loader-type1 1.2s linear infinite;
}
.loader-type1 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loader-type1 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loader-type1 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loader-type1 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loader-type1 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loader-type1 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loader-type1 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loader-type1 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loader-type1 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loader-type1 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loader-type1 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loader-type1 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes loader-type1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
